{{- /* Copyright (c) 2026, João Breno. See the license. */ -}}

{{- define "test" -}}
	{{- $name := "TestAdd" -}}
	{{- if .WithoutTestPrefix -}}
	  {{- $name = "testAdd" -}}
	{{- else if .LowercaseAfterTest -}}
	  {{- $name = "Testadd" -}}
	{{- end -}}

	{{- /* TODO: consider the case where there is not a param */ -}}
	{{- $paramPrefix := "t " -}}
	{{- if .ParamTIsPointer -}}
	  {{- $paramPrefix = "t *" -}}
	{{- end -}}

	{{- $paramPkg := "testing." -}}
	{{- if .ImportDot -}}
	  {{- $paramPkg = "" -}}
	{{- else if .ImportRename -}}
	  {{- $paramPkg = "tt." -}}
	{{- end -}}

	{{- $paramTypeName := "T" -}}
	{{- if and .AliasToTestingT (not .AliasToTestingTNamedT) -}}
	  {{- $paramTypeName = "U" -}}
	{{- end -}}

func {{$name}}({{$paramPrefix}}{{$paramPkg}}{{$paramTypeName}}) {  {{- "\n" -}}
	{{- if and .AliasToTestingTPointer .ParamTIsPointer -}}
  (*t).Error("Am I a test?")
	{{- else -}}
	t.Error("Am I a test?")
	{{- end -}}  {{- "\n" -}}
}  {{- "\n\n"}}
{{- end -}}