{{- /* Copyright (c) 2026, João Breno. See the license. */ -}}

{{- define "test-import-production" -}}
	{{- $pkgPath := "testing" -}}
	{{- if .ImportOtherTesting -}}
	  {{- $pkgPath = (printf "%s/%s" .PkgPath "test/testing") -}}
	{{- end -}}

	{{- if .ImportDot -}}
import . "{{$pkgPath}}"  {{- "\n\n"}}
	{{- else if .ImportRename -}}
import tt "{{$pkgPath}}"  {{- "\n\n"}}
	{{- else -}}
import "{{$pkgPath}}" {{- "\n\n"}}
	{{- end -}}
{{- end -}}

{{- define "test-import-test" -}}
	{{- $pkgPath := "testing" -}}
	{{- if .ImportOtherTesting -}}
	  {{- $pkgPath = (printf "%s/%s" .PkgPath "test/testing") -}}
	{{- end -}}

	{{- if .ImportDot -}}
import . "{{$pkgPath}}"  {{- "\n\n"}}
	{{- else if .ImportRename -}}
import tt "{{$pkgPath}}"  {{- "\n\n"}}
	{{- else -}}
import "{{$pkgPath}}" {{- "\n\n"}}
	{{- end -}}
{{- end -}}