package a

// Copyright (c) 2026, João Breno. See the license.

import "testing"

func TestA(t *testing.T) {
  t.Error("I am not a test")
}

func FuzzA(f *testing.F) {
  f.Error("I am not a test")
}

func Add(a, b int) int {
  return a + b
}